body {
  background-color: #2e2930;
  font-family: 'Roboto', sans-serif;

  overflow: hidden;
}

.App {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

.display {
  display: block;
  overflow: hidden;
  background-color: #2e2930;
  color: white;
  font-size: calc(10px + 2vmin);
  margin: 10px;
}

.display-media {
  /* object-fit: contain; */
  width: 100%;
  height: 100%;

  border-radius: 6px;
}

.display-link {
  width: 100%;
  height: 100%;
}

.header {
  line-height: 1;
  width: 100%;
  padding: 0.35em 0em;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

  background-color: #423b46;
  border-bottom: #b19fbad8 1px outset;
  box-shadow: inset -1px -3px 12px 1px #7c6e8275;

  /* border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; */
}

.header-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: min(calc(10px + 2vw), 20px);
  color: white;

  /* width: 30vw; */
  margin-left: 1vw;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: min(calc(10px + 2vw), 20px);
  color: white;
}

.header-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: min(calc(8px + 2vw), 16px);
  font-weight: 200;
  color: #bbb9bd;
  /* width: 30vw; */
  margin-right: 1vw;
  transition: all 0.2s;
}
.header-details:hover {
  color: white !important;
}


.header-menu-btn {
  text-decoration: none;
  user-select: none;
  display: inline-block;

  text-align: center;
  padding: calc(0.15em + 0.2vw) calc(0.5em + 0.2vw);
  margin-left: 0.3vw;
  margin-right: 0.3vw;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  border: 0.1em solid #ffffff;
  border-radius: 0.5em;
  box-sizing: border-box;
  transition: all 0.2s;
}

.header-menu-btn:hover {
  color: #423b46;
  background-color: #ffffff;
}

.header-nav-btn {
  text-decoration: none;
  user-select: none;
  display: inline-block;

  text-align: center;
  padding: 0.25em 0.75em;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  border: 0.1em solid #ffffff;
  border-radius: 0.5em;
  box-sizing: border-box;
  transition: all 0.2s;
}

.header-nav-btn:hover {
  color: #423b46;
  background-color: #ffffff;
}


.header-details-date {
  user-select: all;
  cursor: default;
  margin: 0vw 0.35vw;
}

.header-details-time {
  user-select: all;
  cursor: default;
  margin: 0vw 0.35vw;
}

.header-details-credit {
  user-select: none;
  margin: 0vw 0.35vw;
  font-size: 0.75em;
  width: 5em;
}


/* Content -> Display */
#c_photo_display {
  display: block;
}

#c_video_display {
  display: block;
}

/* Content -> Details */
#c_photo_details {
  display: block;
}

#c_video_details {
  display: block;
}

/* Media by type */

/* #md_photo { } */

/* #md_video { } */




/*** Top panel layout:

[ header-menu    <------header-nav------>    header-details ]

***/