.App {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.display {
  display: block;
  overflow: hidden;
  width: 50%;
  height: 50%;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.header {
  display: block;
}

.header-menu {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-nav {
  font-weight: 600;  /* TEMP */
}

.header-details {
  display: block;
}

.header-menu-btn {
  display: block;
}


/* Content -> Display */
#c_photo_display {
  display: block;
}

#c_video_display {
  display: block;
}

/* Content -> Details */
#c_photo_details {
  display: block;
}

#c_video_details {
  display: block;
}

/* Media */
#md_photo {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#md_video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}